body {
  background: #f5f8fa;
  padding-top: 125px;
}

.header {
  background: #1DA1F2;
  text-align: center;
  color: white;
  height: 200px;
}

.well {
  background-color: #fff;
}

.follow-button {
  margin: 15px 0;
}

nav.navbar{
  background-color:#1DA1F2;
  min-height: 100px;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 35px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  display: inline-block;
}

.userinfo {
  display: inline;
  vertical-align: top;
  margin-left: 6px;
}

.tweetcontent {
  margin-left: 60px;
}

.bold {
  font-weight: 700;
  vertical-align: top;
}
