body {
  background: #f5f8fa;
  padding-top: 125px;
}

.header {
  background: #1DA1F2;
  text-align: center;
  color: white;
  height: 200px;
}

.well {
  background-color: #fff;
}

.follow-button {
  margin: 15px 0;
}

nav.navbar{
  background-color:#1DA1F2;
  min-height: 120px;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav.navbar.shrink {
  min-height: 55px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 6px;
  display: inline-block;
}

.userinfo {
  display: inline;
  vertical-align: top;
  margin-left: 6px;
}

.tweetcontent {
  margin-left: 60px;
}

.bold {
  font-weight: 700;
  color: black;
  vertical-align: top;
}

.greyed {
  color: grey;
  vertical-align: top;
}

.userinfo a {
  text-decoration: none;
}

.title {
  display: inline;
}

.nav-pills {
  float: right;
}

.navbar .container {
  padding-top: 5px;
}

.navbutton {
  background-color:rgba(3, 169, 244, 0.7);
  color: white;
}

.tweetpic {
  max-width: 100%;
}

.tweetinput {
  padding: 10px;
}

.like {
  color: #AAB8C2;
  font-size: 1.5em;
}

.like:hover {
  color: red;
}
