{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4">
      <img src="{{ user_info.avatar }}" class="img-thumbnail">
      <h1>@{{ user_info.username }}</h1>
      <p>{{ user_info.bio }}</p>
      {% if user_info.website %}
      <a href="{{ user_info.website }}" target="_blank">{{ user_info.website }}</a>
      {% endif %}
      <p>Joined on {{ user_info.joined_display }}</p>
      <div class="row">
        <div class="col col-xs-4 text-center">
          Followers
        </div>
        <div class="col col-xs-4 text-center">
          Following
        </div>
        <div class="col col-xs-4 text-center">
          Tweets
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-4 text-center">
          {% if user_following %}
            {{ user_following.followers }}
          {% else %}
            0
          {% endif %}
        </div>
        <div class="col col-xs-4 text-center">
          {% if user_following %}
            {{ user_following.follows }}
          {% else %}
            0
          {% endif %}
        </div>
        <div class="col col-xs-4 text-center">
          {% if num_tweets %}
            {{ num_tweets.num }}
          {% else %}
            0
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <!-- disable follow button if user is already following this user / hide if user is the profile user -->
          {% if session['user'] != user_info.username %}
          <a href="/follow?userid={{ user_info.id }}&current_profile={{ user_info.username }}" class="btn btn-primary follow-button" {% if user_is_following %}disabled="true"{% endif %}>Follow @{{ user_info.username }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <!-- User's Tweets -->
      {% for tweet in user_tweets %}
      <!-- Modal -->
      <form action="/retweet" method="POST">
        <div class="modal fade" id="{{ tweet.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Retweet @{{ tweet.username }}</h4>
              </div>
              <div class="modal-body">
                <div class="well">
                  @{{ tweet.username }}
                  {{ tweet.content }}
                  {% if tweet.image %}
                  <img src="{{ tweet.image }}" class="tweetpic" alt="tweetpic"/>
                  {% endif %}
                </div>
                <input type="hidden" name="tweet_id" value="{{ tweet.id }}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Retweet</button>
              </div>
            </div>
          </div>
        </div> <!-- end modal -->
      </form>
      <div class="well">
        {% if tweet.retweet %}
        <p class="retweet"><span class="glyphicon glyphicon-retweet retweet"></span><span class="greyed"> @{{ tweet.retweet_username }} retweeted</span></p>
        {% endif %}
        <div class="avatar">
          <img alt="@{{ tweet.username }}" class="avatar" src="{{ tweet.avatar }}">
        </div>
        <div class="userinfo">
          <a href="/profile/{{ tweet.username}}">
            <span class="bold">{{ tweet.userfull }}</span>
            <span class="greyed">@{{ tweet.username }}</span>
          </a>
          <span class="greyed">{{ tweet.time_display }}</span>
        </div>
        <div class="tweetcontent">
          <p class="lead">{{ tweet.content }}</p>
          {% if tweet.image %}
          <img src="{{ tweet.image }}" class="tweetpic" alt="tweetpic"/>
          {% endif %}
        </div>
        <div class="actions">
          <a href="/like/{{ tweet.id }}"><span class="glyphicon glyphicon-heart action {% if tweet.liked %} liked {% endif %}" aria-hidden="true">{{ tweet.num_likes }}</span></a>
          <!-- Button trigger modal -->
          <!-- don't show retweet icon if user is profile user -->
          {% if session['user'] != tweet.username  and not tweet.retweet %}
          <span class="glyphicon glyphicon-retweet action" data-toggle="modal" data-target="#{{ tweet.id }}"></span>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
