{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-4">
      <img src="{{ user_info.avatar }}" class="img-thumbnail">
      <h1>@{{ user_info.username }}</h1>
      <p>{{ user_info.bio }}</p>
      {% if user_info.website %}
      <a href="{{ user_info.website }}" target="_blank">{{ user_info.website }}</a>
      {% endif %}
      <p>Joined on {{ user_info.joined_display }}</p>
      <div class="row">
        <div class="col col-xs-4 text-center">
          Followers
        </div>
        <div class="col col-xs-4 text-center">
          Following
        </div>
        <div class="col col-xs-4 text-center">
          Tweets
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-4 text-center">
          {% if user_following %}
            {{ user_following.followers }}
          {% else %}
            0
          {% endif %}
        </div>
        <div class="col col-xs-4 text-center">
          {% if user_following %}
            {{ user_following.follows }}
          {% else %}
            0
          {% endif %}
        </div>
        <div class="col col-xs-4 text-center">
          {% if num_tweets %}
            {{ num_tweets.num }}
          {% else %}
            0
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-12">
          <!-- disable follow button if user is already following this user -->
          <a href="/follow?userid={{ user_info.id }}&current_profile={{ user_info.username }}" class="btn btn-primary follow-button" {% if user_is_following %}disabled="true"{% endif %}>Follow @{{ user_info.username }}</a>
        </div>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-8">
      <!-- User's Tweets -->
      {% for tweet in user_tweets %}
      <div class="well">
        <div class="avatar">
          <img alt="@{{ user_info.username }}" class="avatar" src="{{ user_info.avatar }}">
        </div>
        <div class="userinfo">
          <a href="/profile/{{ user_info.username}}">
            <span class="bold">{{ user_info.userfull }}</span>
            <span class="greyed">@{{ user_info.username }}</span>
          </a>
          <span class="greyed">{{ tweet.time_display }}</span>
        </div>
        <div class="tweetcontent">
          <p class="lead">{{ tweet.content }}</p>
          {% if tweet.image %}
          <img src="{{ tweet.image }}" class="tweetpic" alt="tweetpic"/>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
