{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
      {% for tweet in tweets %}
      <div class="well">
        <div class="avatar">
          <img alt="@{{ tweet.username }}" class="avatar" src="{{ tweet.avatar }}">
        </div>
        <div class="userinfo">
          <a href="/profile/{{ tweet.username}}">
            <span class="bold">{{ tweet.userfull }}</span>
            <span class="greyed">@{{ tweet.username }}</span>
          </a>
          <span class="greyed">{{ tweet.time_display }}</span>
        </div>
        <div class="tweetcontent">
          <p class="lead">{{ tweet.content }}</p>
          {% if tweet.image %}
          <img src="{{ tweet.image }}" class="tweetpic" alt="tweetpic"/>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
