{% extends 'layout.html' %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-8 col-sm-offset-2">
      <!-- First, an area to tweet -->
      <div class="tweetthis">
        <div class="well">
          <form action="/tweet" method="POST">
            <div class="form-group">
              <label for="tweet">What's happening?</label>
              <textarea class="form-control" rows="5" id="tweet" name="tweet" maxlength="140"></textarea>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Tweet!</button>
          </form>
        </div>
      </div>
      {% for tweet in tweets %}
      <div class="well">
        <div class="avatar">
          <img alt="@{{ tweet.username }}" class="avatar" src="{{ tweet.avatar }}">
        </div>
        <div class="userinfo">
          <a href="/profile/{{ tweet.username}}">
            <span class="bold">{{ tweet.userfull }}</span>
            <span class="greyed">@{{ tweet.username }}</span>
          </a>
          <span class="greyed">{{ tweet.time_display }}</span>
        </div>
        <div class="tweetcontent">
          <p class="lead">{{ tweet.content }}</p>
          {% if tweet.image %}
          <img src="{{ tweet.image }}" class="tweetpic" alt="tweetpic"/>
          {% endif %}
        </div>
        <div class="actions">
          <a href="/like?tweet_id={{ tweet.id }}"><span class="glyphicon glyphicon-heart like" aria-hidden="true"></span></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
